.subMenuItem {
  margin-right: 40px;
  padding-right: 20px;
  border-bottom: 2px solid #000;
  transition: border-bottom 0.25s ease-in-out;

  &:hover {
    border-bottom: 2px solid #3698fc;
  }

  &:last-child {
    margin-right: 0;
  }
}

.grandItemContent {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;

  &:hover {
    color: #ea8025;
  }
}

.itemBooking {
  border-top: 1px solid rgb(156, 163, 175);
  padding-top: 12px;
  margin-top: 12px;

  &:first-child {
    padding-top: 0;
    margin-top: 0;
    border-top: none;
  }
}

.logo {
  span {
    max-width: 150px !important;
  }
}
