.menuList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 340px 340px;
  gap: 30px;
  margin-inline: auto;
  width: min(1150px, 100% - 32px);
}

.menuFirstCardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 30px;
  width: min(1150px, 100% - 32px);
  margin-inline: auto;
  margin-top: 160px;
}

.menuSecondCardList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  width: min(1150px, 100% - 32px);
  margin-inline: auto;
  margin-top: 170px;
}
