.selectedImage {
  border: 1px solid #e57905 !important;
}

.buttonShip {
  padding: 9px 20px;
  min-height: 45px;
  border-radius: 10px;
  background: #e57905;
  color: #fff;
  border: none;

  p {
    font-size: 16px;
    font-weight: 700;
  }

  &:hover,
  &:focus {
    background: #e57905;
    color: #fff;
  }
}
