@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 8px);
  background: white;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
  pointer-events: auto;
  transform: translateX(calc(-40% + 10px));
  width: max-content;
}
