//Fonts

$font-size-12: 12px;
$font-size-16: 16px;

$font-weight-bold: bold;

$line-height-12: 12px;

// Colors

$white: #ffffff;
$purple: #796ede;
$background: #ededed;
$black: #000000;
$primary-color: #3698fc;
$secondary-color: #6F7282;
